In [58]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
df=pd.read_csv("predictive_maintenance.csv")

In [5]:
df.head()
df.drop(columns=['UDI','Product ID','Failure Type'],inplace=True)

In [7]:
df.Type.value_counts()

Type
L    6000
M    2997
H    1003
Name: count, dtype: int64

In [50]:
cat=['Type']
num=['Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]']

In [51]:
cl=ColumnTransformer([('cat',OneHotEncoder(),cat),
                     ('num',MinMaxScaler(),num)])

In [52]:
X=df[df.columns[:-1]]
X=cl.fit_transform(X)

array([0.        , 1.        , 0.        , 0.31521739, 0.37037037,
       0.13969732, 0.58379121, 0.01185771])

In [57]:
pipe=Pipeline([
    ('sc',cl.transform),
    ('estimator')
])

In [60]:
pd.get_dummies(df['Type']).astype(int)

      H  L  M
0     0  0  1
1     0  1  0
2     0  1  0
3     0  1  0
4     0  1  0
...  .. .. ..
9995  0  0  1
9996  1  0  0
9997  0  0  1
9998  1  0  0
9999  0  0  1

[10000 rows x 3 columns]