In [18]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns',None)

In [2]:
df=pd.read_csv("train.csv")

# Data Understanding

In [7]:
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,Home Ownership,Verification Status,Payment Plan,Loan Title,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,176346.62670,Not Verified,n,Debt Consolidation,16.284758,1,0,13,0,24246,74.932551,7,w,2929.646315,0.102055,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,39833.92100,Source Verified,n,Debt consolidation,15.412409,0,0,12,0,812,78.297186,13,f,772.769385,0.036181,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,91506.69105,Source Verified,n,Debt Consolidation,28.137619,0,0,14,0,1843,2.073040,20,w,863.324396,18.778660,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,108286.57590,Source Verified,n,Debt consolidation,18.043730,1,0,7,0,13819,67.467951,12,w,288.173196,0.044131,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,44234.82545,Source Verified,n,Credit card refinancing,17.209886,1,3,13,1,1544,85.250761,22,w,129.239553,19.306646,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  int64
 1   Loan Amount                   67463 non-null  int64
 2   Funded Amount                 67463 non-null  int64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  int64
 5   Batch Enrolled                67463 non-null  object
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  object
 8   Sub Grade                     67463 non-null  object
 9   Employment Duration           67463 non-null  object
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  object
 12  Payment Plan                  67463 non-null  object
 13  Loan Title                    67463 non-null  object
 14  Debit to Income               67463 non-null  float64
 15  Delinquency - two years       67463 non-null  int64
 16  Inquires - six months         67463 non-null  int64
 17  Open Account                  67463 non-null  int64
 18  Public Record                 67463 non-null  int64
 19  Revolving Balance             67463 non-null  int64
 20  Revolving Utilities           67463 non-null  float64
 21  Total Accounts                67463 non-null  int64
 22  Initial List Status           67463 non-null  object
 23  Total Received Interest       67463 non-null  float64
 24  Total Received Late Fee       67463 non-null  float64
 25  Recoveries                    67463 non-null  float64
 26  Collection Recovery Fee       67463 non-null  float64
 27  Collection 12 months Medical  67463 non-null  int64
 28  Application Type              67463 non-null  object
 29  Last week Pay                 67463 non-null  int64
 30  Accounts Delinquent           67463 non-null  int64
 31  Total Collection Amount       67463 non-null  int64
 32  Total Current Balance         67463 non-null  int64
 33  Total Revolving Credit Limit  67463 non-null  int64
 34  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(17), object(9)
memory usage: 18.0+ MB

In [9]:
cat_data=df.select_dtypes('object')

In [15]:
for col in cat_data.columns:
    print(col)
    print(cat_data[col].nunique())
    print('===============================')

Batch Enrolled
41
===============================
Grade
7
===============================
Sub Grade
35
===============================
Employment Duration
3
===============================
Verification Status
3
===============================
Payment Plan
1
===============================
Loan Title
109
===============================
Initial List Status
2
===============================
Application Type
2
===============================

In [20]:
# Data Cleaning
df.drop(columns=['Payment Plan'],inplace=True)