In [13]:
import pandas as pd
import statsmodels.api as sm
from matplotlib import pyplot as plt
import seaborn as sb
from sklearn.linear_model import LinearRegression
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [93]:
df=pd.read_csv("house_prices.csv")

In [77]:
df.head()

   house_id neighborhood  area  bedrooms  bathrooms      style    price
0      1112            B  1188         3          2      ranch   598291
1       491            B  3512         5          3  victorian  1744259
2      5952            B  1134         3          2      ranch   571669
3      3525            A  1940         4          2      ranch   493675
4      5108            B  2208         6          4  victorian  1101539

In [78]:
df['intercept']=1

In [86]:
df.drop(columns=['house_id'],inplace=True)

In [44]:
lm=sm.OLS(df['price'],df[['area','bedrooms','bathrooms','intercept']])
res=lm.fit()

In [11]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                     4230.
Date:                Mon, 05 Aug 2024   Prob (F-statistic):               0.00
Time:                        20:21:39   Log-Likelihood:                -84517.
No. Observations:                6028   AIC:                         1.690e+05
Df Residuals:                    6024   BIC:                         1.691e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
area         345.9110      7.227     47.863      0.000     331.743     360.079
bedrooms   -2925.8063   1.03e+04     -0.285      0.775    -2.3e+04    1.72e+04
bathrooms   7345.3917   1.43e+04      0.515      0.607   -2.06e+04    3.53e+04
intercept   1.007e+04   1.04e+04      0.972      0.331   -1.02e+04    3.04e+04
==============================================================================
Omnibus:                      367.658   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              350.116
Skew:                           0.536   Prob(JB):                     9.40e-77
Kurtosis:                       2.503   Cond. No.                     1.16e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.16e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [49]:
lm=sm.OLS(df['price'],df[['area','bedrooms','intercept']])
res=lm.fit()
res.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                  Results: Ordinary least squares
====================================================================
Model:              OLS              Adj. R-squared:     0.678
Dependent Variable: price            AIC:                169040.1661
Date:               2024-08-05 21:13 BIC:                169060.2786
No. Observations:   6028             Log-Likelihood:     -84517.
Df Model:           2                F-statistic:        6345.
Df Residuals:       6025             Prob (F-statistic): 0.00
R-squared:          0.678            Scale:              8.8310e+10
--------------------------------------------------------------------
             Coef.    Std.Err.    t    P>|t|     [0.025     0.975]
--------------------------------------------------------------------
area        346.4458    7.1517 48.4428 0.0000    332.4260   360.4656
bedrooms   1626.8306 5191.7021  0.3134 0.7540  -8550.7630 11804.4243
intercept  7857.4509 9425.2882  0.8337 0.4045 -10619.4862 26334.3881
--------------------------------------------------------------------
Omnibus:               368.146       Durbin-Watson:          2.007
Prob(Omnibus):         0.000         Jarque-Bera (JB):       350.224
Skew:                  0.535         Prob(JB):               0.000
Kurtosis:              2.502         Condition No.:          6454
====================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors
is correctly specified.
[2] The condition number is large, 6.45e+03. This might indicate
that there are strong multicollinearity or other numerical
problems.
"""

In [30]:
y,X=dmatrices('price ~ intercept + area + bedrooms + bathrooms', 
              df,return_type='dataframe')
vif=pd.DataFrame()
vif['vif_factor']=[variance_inflation_factor(X.values,i)
                   for i in range(X.shape[1])]
vif['features']=X.columns

C:\Users\Mohammed\AppData\Roaming\Python\Python39\site-packages\statsmodels\regression\linear_model.py:1783: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

In [32]:
dmatrices??

C:\Users\Mohammed\AppData\Roaming\Python\Python39\site-packages\statsmodels\regression\linear_model.py:1783: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

In [34]:
vif

   vif_factor   features
0    0.000000  Intercept
1    0.000000  intercept
2    5.457399       area
3   20.854484   bedrooms
4   19.006851  bathrooms

In [39]:
df.shape[0]

6028

In [47]:
X

      Intercept  intercept    area  bedrooms  bathrooms
0           1.0        1.0  1188.0       3.0        2.0
1           1.0        1.0  3512.0       5.0        3.0
2           1.0        1.0  1134.0       3.0        2.0
3           1.0        1.0  1940.0       4.0        2.0
4           1.0        1.0  2208.0       6.0        4.0
...         ...        ...     ...       ...        ...
6023        1.0        1.0   757.0       0.0        0.0
6024        1.0        1.0  3540.0       5.0        3.0
6025        1.0        1.0  1518.0       2.0        1.0
6026        1.0        1.0  2270.0       4.0        2.0
6027        1.0        1.0  3355.0       5.0        3.0

[6028 rows x 5 columns]

In [50]:
df.head()

  neighborhood  area  bedrooms  bathrooms      style    price  intercept
0            B  1188         3          2      ranch   598291          1
1            B  3512         5          3  victorian  1744259          1
2            B  1134         3          2      ranch   571669          1
3            A  1940         4          2      ranch   493675          1
4            B  2208         6          4  victorian  1101539          1

In [51]:
df['style'].unique()

array(['ranch', 'victorian', 'lodge'], dtype=object)

In [79]:
df[['lodge','ranch','victorian']]=pd.get_dummies(df['style'])
.astype('float')
df.drop(columns=['style','lodge'],inplace=True)
df['neighborhood'].unique()
df[['B','C']]=pd.get_dummies(df['neighborhood'],drop_first=True)
.astype('float')
df.drop(columns=['neighborhood'],inplace=True)
df.drop(columns=['bathrooms'],inplace=True)
lm=sm.OLS(df['price'],df[['area','bedrooms','intercept','ranch',
                          'victorian','B','C']])
res=lm.fit()
res.summary()

In [95]:
pd.get_dummies(df['style']).astype('float')

      lodge  ranch  victorian
0       0.0    1.0        0.0
1       0.0    0.0        1.0
2       0.0    1.0        0.0
3       0.0    1.0        0.0
4       0.0    0.0        1.0
...     ...    ...        ...
6023    1.0    0.0        0.0
6024    0.0    0.0        1.0
6025    1.0    0.0        0.0
6026    0.0    1.0        0.0
6027    0.0    0.0        1.0

[6028 rows x 3 columns]