In [48]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
pd.set_option('display.max_columns',None)

In [28]:
df=pd.read_csv("train.csv")

# Data Understanding

In [30]:
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,Home Ownership,Verification Status,Payment Plan,Loan Title,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,176346.62670,Not Verified,n,Debt Consolidation,16.284758,1,0,13,0,24246,74.932551,7,w,2929.646315,0.102055,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,39833.92100,Source Verified,n,Debt consolidation,15.412409,0,0,12,0,812,78.297186,13,f,772.769385,0.036181,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,91506.69105,Source Verified,n,Debt Consolidation,28.137619,0,0,14,0,1843,2.073040,20,w,863.324396,18.778660,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,108286.57590,Source Verified,n,Debt consolidation,18.043730,1,0,7,0,13819,67.467951,12,w,288.173196,0.044131,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,44234.82545,Source Verified,n,Credit card refinancing,17.209886,1,3,13,1,1544,85.250761,22,w,129.239553,19.306646,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  int64
 1   Loan Amount                   67463 non-null  int64
 2   Funded Amount                 67463 non-null  int64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  int64
 5   Batch Enrolled                67463 non-null  object
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  object
 8   Sub Grade                     67463 non-null  object
 9   Employment Duration           67463 non-null  object
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  object
 12  Payment Plan                  67463 non-null  object
 13  Loan Title                    67463 non-null  object
 14  Debit to Income               67463 non-null  float64
 15  Delinquency - two years       67463 non-null  int64
 16  Inquires - six months         67463 non-null  int64
 17  Open Account                  67463 non-null  int64
 18  Public Record                 67463 non-null  int64
 19  Revolving Balance             67463 non-null  int64
 20  Revolving Utilities           67463 non-null  float64
 21  Total Accounts                67463 non-null  int64
 22  Initial List Status           67463 non-null  object
 23  Total Received Interest       67463 non-null  float64
 24  Total Received Late Fee       67463 non-null  float64
 25  Recoveries                    67463 non-null  float64
 26  Collection Recovery Fee       67463 non-null  float64
 27  Collection 12 months Medical  67463 non-null  int64
 28  Application Type              67463 non-null  object
 29  Last week Pay                 67463 non-null  int64
 30  Accounts Delinquent           67463 non-null  int64
 31  Total Collection Amount       67463 non-null  int64
 32  Total Current Balance         67463 non-null  int64
 33  Total Revolving Credit Limit  67463 non-null  int64
 34  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(17), object(9)
memory usage: 18.0+ MB

In [31]:
num_data=cat_data=df.select_dtypes('number')
num_data.drop(columns=['Loan Status'],inplace=True)

In [36]:

scaler=MinMaxScaler()
df[num_data.columns]=scaler.fit_transform(df[num_data.columns])

In [37]:
cat_data=df.select_dtypes('object')

In [38]:
for col in cat_data.columns:
    print(col)
    print(cat_data[col].nunique())
    print('===============================')

Batch Enrolled
41
===============================
Grade
7
===============================
Sub Grade
35
===============================
Employment Duration
3
===============================
Verification Status
3
===============================
Payment Plan
1
===============================
Loan Title
109
===============================
Initial List Status
2
===============================
Application Type
2
===============================

In [39]:
# Data Cleaning
df.drop(columns=['Payment Plan'],inplace=True)

# Turning object into numerical data

In [40]:
cat_data=df.select_dtypes('object')
for col in cat_data.columns:
    encoder=LabelEncoder()
    df[col]=encoder.fit_transform(df[col])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  float64
 1   Loan Amount                   67463 non-null  float64
 2   Funded Amount                 67463 non-null  float64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  float64
 5   Batch Enrolled                67463 non-null  int64
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  int64
 8   Sub Grade                     67463 non-null  int64
 9   Employment Duration           67463 non-null  int64
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  int64
 12  Loan Title                    67463 non-null  int64
 13  Debit to Income               67463 non-null  float64
 14  Delinquency - two years       67463 non-null  float64
 15  Inquires - six months         67463 non-null  float64
 16  Open Account                  67463 non-null  float64
 17  Public Record                 67463 non-null  float64
 18  Revolving Balance             67463 non-null  float64
 19  Revolving Utilities           67463 non-null  float64
 20  Total Accounts                67463 non-null  float64
 21  Initial List Status           67463 non-null  int64
 22  Total Received Interest       67463 non-null  float64
 23  Total Received Late Fee       67463 non-null  float64
 24  Recoveries                    67463 non-null  float64
 25  Collection Recovery Fee       67463 non-null  float64
 26  Collection 12 months Medical  67463 non-null  float64
 27  Application Type              67463 non-null  int64
 28  Last week Pay                 67463 non-null  float64
 29  Accounts Delinquent           67463 non-null  float64
 30  Total Collection Amount       67463 non-null  float64
 31  Total Current Balance         67463 non-null  float64
 32  Total Revolving Credit Limit  67463 non-null  float64
 33  Loan Status                   67463 non-null  int64
dtypes: float64(25), int64(9)
memory usage: 17.5 MB

In [42]:
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,Home Ownership,Verification Status,Loan Title,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,0.899103,0.264403,0.918699,0.330964,1.0,16,0.265983,1,13,0,0.412699,0,42,0.400709,0.125,0.0,0.314286,0.00,0.207350,0.742775,0.044118,1,0.204587,0.002395,0.000574,0.004757,0.0,0,0.304348,0.0,0.001827,0.264009,0.028071,0
1,0.002146,0.076355,0.321495,0.326910,1.0,4,0.316414,2,17,2,0.064442,1,49,0.378315,0.000,0.0,0.285714,0.00,0.006944,0.776130,0.132353,0,0.053721,0.000849,0.000546,0.005843,0.0,0,0.677019,0.0,0.003167,0.154651,0.099341,0
2,0.009460,0.802154,0.244137,0.604649,1.0,11,0.330517,5,18,0,0.196264,1,42,0.704983,0.000,0.0,0.342857,0.00,0.015761,0.020499,0.235294,1,0.060055,0.440618,0.000991,0.006114,0.0,0,0.409938,0.0,0.002010,0.075786,0.125669,0
3,0.075457,0.298829,0.174783,0.494688,1.0,15,0.521957,2,12,0,0.239071,1,49,0.445864,0.125,0.0,0.142857,0.00,0.118179,0.668777,0.117647,1,0.019825,0.001035,0.000025,0.004495,0.0,0,0.242236,0.0,0.002375,0.007284,0.295820,0
4,0.184033,0.467134,0.359335,0.366690,1.0,32,0.443150,2,18,0,0.075669,1,38,0.424458,0.125,0.6,0.314286,0.25,0.013204,0.845063,0.264706,1,0.008709,0.453007,0.297354,0.002211,0.0,0,0.111801,0.0,0.026127,0.106571,0.107804,0

In [44]:
X_train,X_test,y_train,y_test=train_test_split(df[df.columns[:-1]],df[df.columns[-1]])

In [45]:
lr=LogisticRegression().fit(X_train,y_train)

c:\users\mohammed\trials_with_ml\handson\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [47]:
out=lr.predict(X_test)

In [50]:
print(classification_report(y_test,out))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95     15337
           1       0.00      0.00      0.00      1529

    accuracy                           0.91     16866
   macro avg       0.45      0.50      0.48     16866
weighted avg       0.83      0.91      0.87     16866

c:\users\mohammed\trials_with_ml\handson\lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\users\mohammed\trials_with_ml\handson\lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\users\mohammed\trials_with_ml\handson\lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [51]:
df['Loan Status'].value_counts()

Loan Status
0    61222
1     6241
Name: count, dtype: int64

In [52]:
df['Loan Status'].plot(kind='bar')

KeyboardInterrupt

Error in callback <function _draw_all_if_interactive at 0x00000180AB4AEC10> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt

Error in callback <function flush_figures at 0x00000180AB4D1310> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt

In [53]:
from imblearn.over_sampling import SMOTE

In [54]:
sm=SMOTE()

In [65]:
out=sm.fit_resample(df[df.columns[:-1]].values,df[df.columns[-1]].values)

In [68]:
out[0].shape

(122444, 33)